*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  justify-content: center;
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  inline-size: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.search-form__fieldset {
  border: none;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.search-form__fieldset-title {
  color: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__label {
  width: fit-content;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  display: flex;
  width: 225px;
  height: 27px;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  /* для отображения одинаковых стилей в разных браузерах */
  appearance: none;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
  border: none;
}

.search-form__label:hover {
  cursor: pointer;
  text-decoration: underline;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #ffffff;
  outline-offset: 2px;
  align-items: center;
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
  border: 1px solid black;
}

.button {
  border: 1px solid #fff;
  min-width: 194px;
  height: 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: inherit;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: transparent;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:active {
  background: #545050;
}

button:focus {
  outline: none;
  outline-offset: none;
}

button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__details {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 26px;
}

.title {
  color: inherit;
  font-family: "Oswald";
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
  font-family: "Oswald";
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
}

.content__list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  /* overflow-x: hidden; */
  position: relative;
  max-block-size: 298px;
  gap: 30px;
}

.content__list-item {
  display: flex;
  /* width: 394px; */
  padding: 2px;
  align-items: flex-start;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: inherit;
  margin:1px;
}

.content__card-link_current {
  background: #545050;
}
.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:focus {
  border: none;
}
.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  width: 399px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-basis: 100%;
  align-items: flex-start;
}
li:not(:last-child) {
  margin-bottom: 6px;
}

.content__video-card-title {
  color: #fff;
  font-family: "Oswald";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
}

.more-button {
  width: 100%;
  
    background-color: transparent;

}